# Ignore everything
/*

# Except developing-theme
!/themes/
themes/*
!themes/developing-theme/

# Except specific plugins
!/plugins/
plugins/*
!plugins/custom-portfolio/
!plugins/klanten-portfolio/
!plugins/rick-shortcodes/ 
!plugins/bedrijfsgegevens/
!plugins/offerte-aanvragen/
!plugins/rick-api/

# Ignore cache, uploads, backups
uploads/
cache/
ai1wm-backups/
advanced-cache.php
wp-rocket-config/
*.log
